
.LifePathWrapper {
  margin: 0 auto;
}

.LifePathWrapper .event-list {
  padding: 10px 10px;
  margin-left: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


h1 .blink-cursor {
  animation: blinker 1.2s step-start infinite;
  /**
  animation-name: move-text, blinker;
  /* animation-duration: 2000ms, 1000ms; 
  animation-delay: 0ms, 2000ms; /* add this 
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: 1, 1;
  */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}